.cardswrapper{
    display:flex;
    justify-content:space-between;
    margin: 10px 10px 10px 10px;
    #bankcards{
        margin-left: 100px;
        float:left;
     }
     
    #discountcards{
        margin-right: 100%;
        float:right;
     }
  }

.img{
    width: 100px;
    height: 50px;
}
.pieWrapper{
    display:flex;
    justify-content:space-between;
    h3{
        text-align: center;
    }
    .pie1{
        width: 500px;
        height: 500px; 
        float:left;
    }
    .pie2{
        width: 500px;
        height: 500px; 
        float:right;
    }
   
}